@import "./logo";

* {
    padding: 0;
    margin: 0;
}

#Monoloq {
    height: 100vh;
    overflow: hidden;
    max-height: 100%;
    font-family: monospace;
}

.mn {
    display: flex;
    flex-direction: column;
    height: 100%;

    &-body {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &-main {
        flex-grow: 1;
    }

    &-header {
        padding: 0.25rem;
    }
}

.btn {
    display: flex;
    align-items: center;
    background-color: transparent;
    border-color: transparent;

    &-icon {
        width: 1.5rem;
        height: 1.5rem;
    }
}
