.entries {
    padding-bottom: 50px;

    &-days {
        display: flex;
        flex-direction: column;
        min-height: 100%;
        background-color: #ddd;
    }

    &-add-form {
        padding: 0.25rem 0.5rem;
        display: flex;

        &-input {
            flex-grow: 1;
            min-height: 44px;
            max-height: 50vh;
        }
    }

    &-footer {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: white;
    }
}

.entries .entries-day {
    padding: 6px;

    .entry {
        max-width: 85%;
        margin-left: auto;
        margin-bottom: 6px;

        &-text {
            padding: 6px;
            border-radius: 6px;
            background-color: coral;
            white-space: pre-wrap;
        }
    }

    .items {
        display: flex;
        flex-direction: column;
    }
}
